<div class="container">
  <h1>All our Flats</h1>
  <p>All <%= Flat.count %> flats.</p>
  <% @flats.each do |flat| %>
    <h2><%= flat.name %></h2>
    <p><%= flat.address %></p>
    <i class="fa-solid fa-people-group"><%= flat.number_of_guests %></i>
    <i class="fa-solid fa-dollar-sign"><%= flat.price_per_night %></i>
    <%= link_to 'More info', flat_path(flat) %>
    <%= link_to 'Edit', edit_flat_path(flat) %>
    <%= link_to 'Remove', flat_path(flat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
  <% end %>
</div>
