<div class="container" style="background-image: url('<%= @flat.picture_url %>')">
  <h1><%= @flat.name %></h1>
  <p><%= @flat.address %></p>
  <h2>A bit more about this flat...</h2>
  <p><%= @flat.description %></p>
  <h1>Details</h1>
  <p><%= @flat.number_of_guests %> people</p>
  <p>£<%= @flat.price_per_night %> per night</p>
</div>
